<?xml version="1.0" encoding="UTF-8"?>
<beans  xmlns="http://www.springframework.org/schema/beans"
        xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xmlns:context="http://www.springframework.org/schema/context"
        xsi:schemaLocation="http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans.xsd
        http://www.springframework.org/schema/context
        http://www.springframework.org/schema/context/spring-context.xsd">

    <context:component-scan base-package="popMusicPackage"/>
    <context:property-placeholder location="musicPlayer.properties"/>

    <bean id="musicBeanClassical"
          class="general.ClassicalMusic">
    </bean>

    <bean id="musicBeanRock"
          class="general.RockMusic">
    </bean>

    <bean id="musicBeanRap"
          class="general.RapMusic"
    scope="prototype">
    </bean>

    <bean id="musicPlayer"
          class="general.MusicPlayer">
        <property name="musicList">
            <list>
                <ref bean="musicBeanRap"/>
                <ref bean="musicBeanClassical"/>
                <ref bean="musicBeanRock"/>
            </list>

        </property>

        <property name="name" value="${musicPlayer.name}"/>
        <property name="volume" value="${musicPlayer.volume}" />

    </bean>

</beans>